body{
background-image: url("https://static.vecteezy.com/system/resources/previews/001/230/552/non_2x/man-and-boat-on-water-at-sunset-free-photo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}


.fondo-contenedor {
	background: rgba(0,0,0,0.7);
	margin-bottom: 80px;
}

#img {
	border-radius: 999px;
}

.btn-primary {
    color: #fff;
    background-color: #FF5733;
    border-color: #FF5733;
}

.progress-bar {
	    background-color: #FF5733;
}

.list-group-item.active {
	background-color: #FF5733;
	border-color: #FF5733;
}

.btn.btn-primary.active {
  	background-color: #FF5733;
	border-color: #FF5733;
}